@import "theme.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  font-family: var(--main-font-family);
  background-color: #2a607c;
  color: var(--main-font-colour);
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header h1 .seo {
  color: #d9dcd6;
}

header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: var(--secondary-font-family);
  font-size: 20px;
}

header div ul {
  list-style-type: none;
}

header div ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: var(--main-font-colour);
  text-decoration: none;
}

p {
  font-size: 18px;
}
/* Hero Image */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Benefits CSS */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: var(--secondary-font-family);
  background-color: var(--secondary-background-colour);
  margin-bottom: 32px;
  color: var(--main-font-colour);
  margin-bottom: 10px;
  text-align: center;
}

.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Content CSS */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: var(--secondary-font-family);
  background-color: var(--main-background-colour);
  color: var(--main-font-colour);
}

.search-engine-optimization img,
.social-media-marketing img,
.online-reputation-management img {
  max-height: 200px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Footer CSS */
h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: var(--main-font-family);
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
